{{ define "main" }}
{{ partial "back_link.html" .}}

<article>
    <p class="post-meta">
        <time datetime="{{ .Date }}">
            {{ .Date | time.Format site.Params.theme_config.date_format }}
        </time>
    </p>

    <h1>{{ .Title }}</h1>

    <!-- {{- if .Params.tags }}
    <ul class="post-tags" style="margin-bottom: 5px;">
        {{- range ($.GetTerms "tags") }}
        <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
        {{- end }}
    </ul>
    {{- end }}
    {{- if (.Param "ShowPostNavLinks") }}
    {{- partial "post_nav_links.html" . }}
    {{- end }}
    {{- if (and .Site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
    {{- partial "share_icons.html" . -}}
    {{- end }} -->

    
    {{ if .Params.toc }}
    <aside {{ if .Params.tocBorder }} class="toc" {{ end }}>
        {{ .TableOfContents }}
    </aside>
    {{ end }}
    
    <hr class="hr-common"> 

    {{ .Content }}
</article>
<hr class="hr-common">

<footer class="post-footer">
    {{- if .Params.tags }}
    <ul class="post-tags">
        {{- range ($.GetTerms "tags") }}
        <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
        {{- end }}
    </ul>
    {{- end }}
    {{- if (.Param "ShowPostNavLinks") }}
    {{- partial "post_nav_links.html" . }}
    {{- end }}
    {{- if (and .Site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
    {{- partial "share_icons.html" . -}}
    {{- end }}

    {{ partial "gitalk.html" . }}

</footer>

{{ end }}